<form accept-charset="UTF-8" action="/attributes" class="form-horizontal" id="new_attribute" method="post">
<% if @attribute.errors.any? %>
	<div class="alert alert-error">
		<button type="button" class="close" data-dismiss="alert">×</button>
		<strong><%= pluralize(@attribute.errors.count, "error") %></strong> 
		<ul>
		   <% @attribute.errors.full_messages.each do |msg| %>
		      <li><%= msg %></li>
		   <% end %>
		</ul>
	</div>
<% end %>
<fieldset>
<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
<div class="control-group">
	<label class="control-label" for="attribute_code">属性名称<span class="icon icon-red icon-star-on"></span></label>
	<div class="controls">
	  <input type="text" name="attribute[attribute_code]" class = "input-xlarge focused" id = "attribute_code" />
	  <p class="help-block"><span class="icon-triangle-n"></span>后台内部使用,必须唯一,没有空格,小于30个字符!</p>
	</div>
</div>
<div class="control-group">
	<label class="control-label" for="select-entity-type">属性类别</label>
	<div class="controls">
	  <select id="select-entity-type" name="attribute[entity_type_id]" data-rel="chosen">
		<% @entity_types.each do |entity_type| %>
		<option value="<%= entity_type.entity_type_id %>"><%= entity_type.entity_type_code %></option>
		<% end %>
	  </select>
	</div>
</div>
<div class="control-group">
	<label class="control-label" for="frontend_label">编辑输入标签</label>
	<div class="controls">
	  <input type="text" name="attribute[frontend_label]" class = "input-xlarge" id = "frontend_label" />
	</div>
</div>
<div class="control-group">
	<label class="control-label" for="select-frontend-input">编辑输入类型</label>
	<div class="controls">
	  <select id="select-frontend-input" name="attribute[frontend_input]" data-rel="chosen">
		<option value="text">文本框(单行)</option>
                <option value="password">密码</option>
		<option value="textarea">文本框(多行)</option>
		<option value="date">日期</option>
		<option value="boolean">是/否</option>
		<option value="multiselect">多选</option>
		<option value="select">单选</option>
		<option value="price">价格</option>
		<option value="image">图片</option>
	  </select>
	</div>
</div>
<div class="control-group hide" id="options-group" >
	<label class="control-label" for="select-backend-type">选项</label>
	<div class="controls" id="options-control">
          <div class="input-append">
	    <input id="select-option" name="options[]" size="6" type="text" /><button class="btn" id="add-option" type="button">添加选项</button>
          </div>
	</div>
</div>
<div class="control-group">
	<label class="control-label" for="select-backend-type">数据类型</label>
	<div class="controls">
	  <select id="select-backend-type" name="attribute[backend_type]" data-rel="chosen">
		<option value="tinyint">tinyint</option>
		<option value="smallint">smallint</option>
		<option value="mediumint">mediumint</option>
		<option value="int">int</option>
		<option value="decimal">decimal</option>
		<option value="char">char</option>
		<option value="varchar">varchar</option>
		<option value="text">text</option>
		<option value="mediumtext">mediumtext</option>
		<option value="timestamp">timestamp</option>
		<option value="datetime">datetime</option>
	  </select>
	</div>
</div>
<div class="control-group">
	<label class="control-label" for="default_value">默认值</label>
	<div class="controls">
	  <input type="text" name="attribute[default_value]" class = "input-xlarge" id = "default_value" />
	</div>
</div>
<div class="control-group">
	<label class="control-label" for="select-is-unique">唯一<span class="icon icon-red icon-star-on"></span></label>
	<div class="controls">
	 <select id="select-is-unique" name="attribute[is_unique]">
		 <option value="1">是</option>
		 <option value="0">否</option> 
	  </select>
	  <p class="help-block"><span class="icon-triangle-n"></span>不与其他产品共享此属性!</p>
	</div>
</div>
<div class="control-group">
	<label class="control-label" for="select-is-required">是否为必要属性</label>
	<div class="controls">
	  <select id="select-is-required" name="attribute[is_required]">
		<option value="1">是</option>
		<option value="0">否</option> 
	  </select>
	</div>
</div>
<div class="form-actions">
  <input type="submit" class="btn btn-primary" value="添加" />
  <input type="reset" class="btn" value="重置" />
</div>
</fieldset>
</form>
