<%= render 'layouts/topbar' %>

	<div class="container-fluid">
	<div class="row-fluid">

		<%= render 'layouts/leftmenu' %>

		<%= render 'layouts/noscript_warning' %>
		
		<div id="content" class="span10">
		<!-- content starts -->

		<div>
			<ul class="breadcrumb">
				<li>
					<a href="/main">主页</a> <span class="divider">/</span>
				</li>
				<li>
					<a href="#">活动列表</a>
				</li>
			</ul>
		</div>

		<div class="row-fluid sortable">
			<div class="box span12">
				<div class="box-header well" data-original-title>
					<h2><i class="icon-picture"></i>活动列表</h2>
					<div class="box-icon">
						<a href="#" class="btn btn-setting btn-round"><i class="icon-cog"></i></a>
						<a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
						<a href="#" class="btn btn-close btn-round"><i class="icon-remove"></i></a>
					</div>
				</div>
				<div class="box-content">
					  	<table class="table table-striped table-bordered bootstrap-datatable datatable">
						  <thead>
							  <tr>
								  <th>活动id</th>
								  <th>活动名称</th>
								  <th>开始时间</th>
								  <th>结束时间</th>
								  <th>是否激活</th>
								  <th>操作</th>
							  </tr>
						  </thead>   
						  <tbody>
							<% @eventrules.each do |eventrule| %>
							<tr>
								<td><%= eventrule.rule_id %></td>
								<td class="center"><%= eventrule.name %></td>
								<td class="center"><%= eventrule.from_date %></td>
								<td class="center"><%= eventrule.end_date %></td>
								<td class="center"><%= to_bool(eventrule.is_active) %></td>
								<td class="center">
									<a class="btn btn-info" href="/eventrules/<%= eventrule.rule_id %>/edit">
										<i class="icon-edit icon-white"></i>  
										编辑                                            
									</a>
									<a class="btn btn-danger" href="/eventrules/<%= eventrule.rule_id %>" data-confirm="确认删除?" data-method="delete" rel="nofollow">
										<i class="icon-trash icon-white"></i> 
										删除
									</a>
								</td>
							</tr>
                            <% end %>
						  </tbody>
					  </table>
					  <br />
					  <%= link_to '<button type="button">新增活动</button>'.html_safe, new_eventrule_path %>
				</div>
			</div><!--/span-->
		
		</div><!--/row-->


				<!-- content ends -->
		</div><!--/#content.span10-->
			</div><!--/fluid-row-->
			
	<hr>

	<div class="modal hide fade" id="myModal">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">×</button>
			<h3>设置</h3>
		</div>
		<div class="modal-body">
			<p>可配置属性</p>
		</div>
		<div class="modal-footer">
			<a href="#" class="btn" data-dismiss="modal">关闭</a>
			<a href="#" class="btn btn-primary">保存修改</a>
		</div>
	</div>

    <%= render 'layouts/footer' %>
	
</div><!--/.fluid-container-->
