<form accept-charset="UTF-8" action="/attribute_sets/<%= @attribute_set.attribute_set_id %>" class="form-horizontal" id="edit_attribute_set" method="post">
<% if @attribute_set.errors.any? %>
	<div class="alert alert-error">
		<button type="button" class="close" data-dismiss="alert">×</button>
		<strong><%= pluralize(@attribute_set.errors.count, "error") %></strong> 
		<ul>
		   <% @attribute_set.errors.full_messages.each do |msg| %>
		      <li><%= msg %></li>
		   <% end %>
		</ul>
	</div>
<% end %>
<fieldset>
<input name="_method" type="hidden" value="put" />
<input name="attribute_set[attribute_set_id]" type="hidden" value="<%= @attribute_set.attribute_set_id %>" />
<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
<input name="group_data" id="group_data" type="hidden" />
<input name="entity_type_id" id="entity_type_id" type="hidden" value="<%= @attribute_set.entity_type_id %>"/>
<div class="control-group">
	<label class="control-label" for="attribute_set_name">属性集名称<span class="icon icon-red icon-star-on"></span></label>
	<div class="controls">
	  <input type="text" name="attribute_set[attribute_set_name]" class = "input-xlarge disabled" id = "attribute_set_name" value="<%= @attribute_set.attribute_set_name %>" />
	</div>
</div>
<a href="javascript:void(0);" id="btn-add-group" class="btn btn-info btn-add-group" >添加分组</a>
<a href="javascript:void(0);" id="btn-delete-group" class="btn btn-info btn-delete-group" >删除分组</a>
<div class="control-group">
  <div class="box span7">
  	<div class="box-header well">
		<h2>包含属性</h2>
	</div>
	<div class="box-content" id="include_group">
	</div>
  </div>

  <div class="box span5">
	<div class="box-header well">
		<h2>未包含属性</h2>
	</div>
	<div class="box-content" id="other_attribute">
	</div>
  </div>
</div>

<div class="form-actions">
  <input type="button" id="btn-submit-attribute-set" class="btn btn-primary" value="更新" />
  <input type="reset" class="btn" value="重置" />
</div>
</fieldset>
</form>
