<form accept-charset="UTF-8" action="/sales_orders/<%= @salesOrder.entity_id %>/create_shipping" class="form-horizontal" id="add_shipping" method="post">
<fieldset>
<input name="order_id" type="hidden" value="<%= @salesOrder.entity_id %>" />
<input name="address_id" type="hidden" value="<%= @salesOrder.shipping_address_id %>" />
<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
<div class="control-group">
	<label class="control-label" for="from-date">订单号</label>
	<div class="datetimepicker controls">
      <span><%= @salesOrder.entity_id %></span>
   </div>
</div>
<div class="control-group">
	<label class="control-label" for="end-date">配送地址</label>
	<div class="controls">
		 <%= get_shipping_address(@salesOrder.shipping_address_id) %>
	</div>
</div>
<div class="control-group">
	<label class="control-label" for="end-date">快递公司</label>
	<div class="controls">
		<select id="order_deliver_company" name="deliver_company" data-rel="chosen">
		  <% @deliver_companies.each do |deliver_company| %>
			<option value="<%= deliver_company.company_id %>"><%= deliver_company.company_name %></option>
		  <% end %>
	  	</select>
	</div>
</div>
<div class="control-group">
	<label class="control-label" for="end-date">物流单号</label>
	<div class="controls">
		<input type="text" name="shipping_id" class = "input-xlarge" id = "shipping_id" />
	</div>
</div> 
<div class="form-actions">
  <input type="button" id="add-shipping-btn" class="btn btn-primary" value="确认" />
  <input type="reset" class="btn" value="重置" />
</div>
</fieldset>
</form>
